   <div class="row">
            <div class="box">
                <div>
                    <div class="col-md-6">
                        <div>
                            <div>
                                <div></div><img id="WPht3imgimage" alt="Melinda Michael: Actress" style="width: 393px; height: 201px; object-fit: contain;"
                                    src="https://static.wixstatic.com/media/8a4d63_7a773cc09ea0402f843a0408590a968c.png/v1/fill/w_590,h_301,al_c,usm_0.66_1.00_0.01/8a4d63_7a773cc09ea0402f843a0408590a968c.png"></div>
                        </div>
                        <div>
                            <p style="font-size:12px;" class="font_8"><span style="font-size:12px;"><span style="text-decoration:underline;"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-weight:bold;">Notable Awards and Highlights: </span></span>
                                </span>
                                </span>
                            </p>
                            <p style="font-size:12px;" class="font_8">&nbsp;</p>
                            <p style="font-size:12px;" class="font_8"><span style="font-size:12px;"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-style:italic;"><span style="font-weight:bold;">1st place, Photo Runway, The&nbsp;Actors Model and Talent Convention in&nbsp;2008,&nbsp;Orlando, Florida.</span></span>
                                </span>
                                </span>
                            </p>
                            <p style="font-size:12px;" class="font_8">&nbsp;</p>
                            <p style="font-size:12px;" class="font_8"><span style="font-size:12px;"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-style:italic;"><span style="font-weight:bold;">Gold Medalist,&nbsp;the Amabile Choir&nbsp;in the 2004 Choir Olympics in Bremen, Germany.</span></span>
                                </span>
                                </span>
                            </p>
                            <p style="font-size:12px;" class="font_8">&nbsp;</p>
                            <p style="font-size:12px;" class="font_8"><span style="font-size:12px;"><span style="font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;"><span style="font-style:italic;"><span style="font-weight:bold;">Sang&nbsp;for Her Majesty, Queen Elizabeth II, for her Golden Jubilee.&nbsp;</span></span>
                                </span>
                                </span>
                            </p>
                            <p class="font_8">&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p style="font-size:12px;" class="font_8"><span style="font-weight:bold;"><span style="font-size:12px;"><span style="font-family:enriqueta,serif;"><span class="color_15">&nbsp;</span></span>
                            </span><span style="font-size:12.5px;"><span style="font-family:enriqueta,serif;"><span class="color_15"> &nbsp; &nbsp;My name is Melinda Michael. I am an&nbsp;actress&nbsp;and voice over artist. I started in theatre, performing on stage in plays, musicals, and dance recitals. I&nbsp;currently specialize&nbsp;in the film,&nbsp;television, and commercial industry. Let me share with you some of my unique qualities that set me apart from the rest.</span></span>
                            </span>
                            </span>
                        </p>
                        <p style="font-size:12.5px;" class="font_8">&nbsp;</p>
                        <p style="font-size:12.5px;" class="font_8"><span style="font-weight:bold;"><span style="font-size:12.5px;"><span style="font-family:enriqueta,serif;"><span class="color_15">My background: I have quite a complex mix of ethnicities, making my look very interesting, exotic, and versatile. I am proud to be Italian, Lebanese, Antiguan, British, Welsh, and Irish.</span></span>
                            </span>
                            </span>
                        </p>
                        <p style="font-size:12.5px;" class="font_8">&nbsp;</p>
                        <p style="font-size:12.5px; max-width:99.9%;" class="font_8"><span style="font-weight:bold;"><span style="font-size:12.5px;"><span style="font-family:enriqueta,serif;"><span class="color_15">My interests: volunteering at a meditation studio where I lead the musical group meditations, kickboxing, dance (lyrical, ballet, hip hop, jazz, salsa), singing, skipping (I was on the Heart and Stroke Foundation skipping team that travelled to elementary schools teaching kids how to skip to encourage a healthy, active lifestyle), hot yoga, languages (I have studied Italian, Spanish and French), traveling, modeling (every photographer I have worked with comments on my&nbsp;excellent body/muscle awareness, and&nbsp;how I make postural adjustments instinctively),&nbsp;and most profoundly, ACTING! (I have trained since the age of 5 in theatre, and am now focusing fully on&nbsp;working&nbsp;as an on-camera actor.)&nbsp;</span></span>
                            </span>
                            </span>
                        </p>
                        <p style="font-size:12.5px; max-width:99.9%;" class="font_8">&nbsp;</p>
                        <p style="font-size:12.5px; max-width:99.9%;" class="font_8"><span class="color_15"><span style="font-weight:bold;"><span style="font-size:12.5px;"><span style="font-family:enriqueta,serif;">I am truly excited and grateful to be&nbsp;expanding myself as an actor and as a unique individual within a&nbsp;creative and wonderfully talented&nbsp;community. It gives me so much joy to work every day towards manifesting&nbsp;my biggest dreams and career aspirations.&nbsp;</span></span>
                            <span style="font-family:enriqueta,serif;">I have what it takes: the ambition, passion, presence, talent, motivation,
                                                    determination, and amiable personality to succeed in this industry. I
                                                    strive to give my all, always.</span>
                            </span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>